[AUTH_DB]
AUTH_DB_HOST=localhost
AUTH_DB_PORT=5432
AUTH_DB_NAME=database

# Optional (can be removed).
# By default postgresql+asyncpg
AUTH_DB_SCHEME=postgresql+asyncpg

AUTH_DB_USER=user
AUTH_DB_PASSWORD=password

[ADMINER]
ADMINER_PORT=3456

[AUTH_API]
AUTH_API_HOST=0.0.0.0
AUTH_API_PORT=443

[AUTH_API_TOKENS]
AUTH_API_TOKENS_SECRET_KEY=secret_key

# Optional (can be removed).
# By default HS512
AUTH_API_TOKENS_JWT_ALGOTITHM=HS512

AUTH_API_TOKENS_JWT_ACCESS_TOKEN_EXPIRES_MINUTE=15
AUTH_API_TOKENS_JWT_REFRESH_TOKEN_EXPIRES_DAYS=14