[DATABASE]
AUTH_DB_HOST=localhost
AUTH_DB_PORT=5432
AUTH_DB_NAME=database

# Optional (can be removed).
# By default postgresql+asyncpg
AUTH_DB_SCHEME=postgresql+asyncpg

AUTH_DB_SECRET_KEY=secret_key

AUTH_DB_USER=user
AUTH_DB_PASSWORD=password

[ADMINER]
ADMINER_PORT=3456